<div>
    <h2>
        <span jhiTranslate="comeerjApp.alojamento.home.title">Alojamentos</span>
        <button class="btn btn-primary float-right jh-create-entity create-alojamento-comeerj" [routerLink]="['/', { outlets: { popup: ['alojamento-comeerj-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="comeerjApp.alojamento.home.createLabel">
            Create new Alojamento
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="alojamentos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nome"><span jhiTranslate="comeerjApp.alojamento.nome">Nome</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sala"><span jhiTranslate="comeerjApp.alojamento.sala">Sala</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="local"><span jhiTranslate="comeerjApp.alojamento.local">Local</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="genero"><span jhiTranslate="comeerjApp.alojamento.genero">Genero</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="responsavelId"><span jhiTranslate="comeerjApp.alojamento.responsavel">Responsavel</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let alojamento of alojamentos ;trackBy: trackId">
                <td><a [routerLink]="['../alojamento-comeerj', alojamento.id ]">{{alojamento.id}}</a></td>
                <td>{{alojamento.nome}}</td>
                <td>{{alojamento.sala}}</td>
                <td>{{alojamento.local}}</td>
                <td jhiTranslate="{{'comeerjApp.Genero.' + alojamento.genero}}">{{alojamento.genero}}</td>
                <td>
                    <div *ngIf="alojamento.responsavelId">
                        <a [routerLink]="['../inscricao-comeerj', alojamento.responsavelId  ]" >{{alojamento.responsavelId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../alojamento-comeerj', alojamento.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'alojamento-comeerj/'+ alojamento.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'alojamento-comeerj/'+ alojamento.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="alojamentos && alojamentos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
