
<div *ngIf="turma">
    <h2><span jhiTranslate="comeerjApp.turma.detail.title">Turma</span> {{turma.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="comeerjApp.turma.nome">Nome</span></dt>
        <dd>
            <span>{{turma.nome}}</span>
        </dd>
        <dt><span jhiTranslate="comeerjApp.turma.faixaEtaria">Faixa Etaria</span></dt>
        <dd>
            <div *ngIf="turma.faixaEtariaId">
                <a [routerLink]="['/faixa-etaria-comeerj', turma.faixaEtariaId]">{{turma.faixaEtariaId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'turma-comeerj/'+ turma.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
