
<div *ngIf="faixaEtaria">
    <h2><span jhiTranslate="comeerjApp.faixaEtaria.detail.title">Faixa Etaria</span> {{faixaEtaria.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="comeerjApp.faixaEtaria.nome">Nome</span></dt>
        <dd>
            <span>{{faixaEtaria.nome}}</span>
        </dd>
        <dt><span jhiTranslate="comeerjApp.faixaEtaria.idadeMin">Idade Min</span></dt>
        <dd>
            <span>{{faixaEtaria.idadeMin}}</span>
        </dd>
        <dt><span jhiTranslate="comeerjApp.faixaEtaria.idadeMaxima">Idade Maxima</span></dt>
        <dd>
            <span>{{faixaEtaria.idadeMaxima}}</span>
        </dd>
        <dt><span jhiTranslate="comeerjApp.faixaEtaria.descricao">Descricao</span></dt>
        <dd>
            <span>{{faixaEtaria.descricao}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'faixa-etaria-comeerj/'+ faixaEtaria.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
