<div>
    <h2>
        <span jhiTranslate="comeerjApp.faixaEtaria.home.title">Faixa Etarias</span>
        <button class="btn btn-primary float-right jh-create-entity create-faixa-etaria-comeerj" [routerLink]="['/', { outlets: { popup: ['faixa-etaria-comeerj-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="comeerjApp.faixaEtaria.home.createLabel">
            Create new Faixa Etaria
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="faixaEtarias">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nome"><span jhiTranslate="comeerjApp.faixaEtaria.nome">Nome</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="idadeMin"><span jhiTranslate="comeerjApp.faixaEtaria.idadeMin">Idade Min</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="idadeMaxima"><span jhiTranslate="comeerjApp.faixaEtaria.idadeMaxima">Idade Maxima</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="descricao"><span jhiTranslate="comeerjApp.faixaEtaria.descricao">Descricao</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let faixaEtaria of faixaEtarias ;trackBy: trackId">
                <td><a [routerLink]="['../faixa-etaria-comeerj', faixaEtaria.id ]">{{faixaEtaria.id}}</a></td>
                <td>{{faixaEtaria.nome}}</td>
                <td>{{faixaEtaria.idadeMin}}</td>
                <td>{{faixaEtaria.idadeMaxima}}</td>
                <td>{{faixaEtaria.descricao}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../faixa-etaria-comeerj', faixaEtaria.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'faixa-etaria-comeerj/'+ faixaEtaria.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'faixa-etaria-comeerj/'+ faixaEtaria.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="faixaEtarias && faixaEtarias.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
