
<div *ngIf="usuario">
    <h2><span jhiTranslate="comeerjApp.usuario.detail.title">Usuario</span> {{usuario.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="comeerjApp.usuario.userId">User Id</span></dt>
        <dd>
            <span>{{usuario.userId}}</span>
        </dd>
        <dt><span jhiTranslate="comeerjApp.usuario.name">Name</span></dt>
        <dd>
            <span>{{usuario.name}}</span>
        </dd>
        <dt><span jhiTranslate="comeerjApp.usuario.email">Email</span></dt>
        <dd>
            <span>{{usuario.email}}</span>
        </dd>
        <dt><span jhiTranslate="comeerjApp.usuario.perfil">Perfil</span></dt>
        <dd>
            <span jhiTranslate="{{'comeerjApp.Perfil.' + usuario.perfil}}">{{usuario.perfil}}</span>
        </dd>
        <dt><span jhiTranslate="comeerjApp.usuario.genero">Genero</span></dt>
        <dd>
            <span jhiTranslate="{{'comeerjApp.Genero.' + usuario.genero}}">{{usuario.genero}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'usuario-comeerj/'+ usuario.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
