<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUsuarioLabel" jhiTranslate="comeerjApp.usuario.home.createOrEditLabel">Create or edit a Usuario</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!usuario.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="usuario.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="comeerjApp.usuario.userId" for="field_userId">User Id</label>
            <input type="number" class="form-control" name="userId" id="field_userId"
                [(ngModel)]="usuario.userId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="comeerjApp.usuario.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="usuario.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="comeerjApp.usuario.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="usuario.email" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="comeerjApp.usuario.perfil" for="field_perfil">Perfil</label>
            <select class="form-control" name="perfil" [(ngModel)]="usuario.perfil" id="field_perfil" >
                <option value="ADMINISTRADOR">{{'comeerjApp.Perfil.ADMINISTRADOR' | translate}}</option>
                <option value="COORDENADOR">{{'comeerjApp.Perfil.COORDENADOR' | translate}}</option>
                <option value="USUARIO">{{'comeerjApp.Perfil.USUARIO' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="comeerjApp.usuario.genero" for="field_genero">Genero</label>
            <select class="form-control" name="genero" [(ngModel)]="usuario.genero" id="field_genero" >
                <option value="MASCULINO">{{'comeerjApp.Genero.MASCULINO' | translate}}</option>
                <option value="FEMININO">{{'comeerjApp.Genero.FEMININO' | translate}}</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
